* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


:root {
  --color-letras-header: #ffffff; 
}

body {
  background-color: #fe91ec;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  color: #ffffff;
}
p {
  text-align: center;
  font-size: 20px;
}
.header {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  
}
.header-cajas { 
  background-color: #c830f6; 
  font-size: 20px;
  color: var(--color-letras-header); 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} 

.titulo-principal {
  font-size: 50px;
  margin-bottom:5px;
  font-family:"Saira", sans-serif ;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.subtitulo {
  font-size: 30px;
  margin-bottom: 30px;
  color: #3e0244;
  
}
.menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.menu-link {
  text-decoration: none;
  border-radius: 10px;
  padding: 8px 14px;
  color: var(--color-letras-header);
  background-color: #74038e;
  transition: background-color 0.3s ease;
  width: 120px;
  text-align: center;
}
.menu-link:hover {
  background-color: #c830f6;
}
.inicio {
  text-align:end;
  color: #74038e;
  font-size: 20px;
  grid-column: 3 / 4;

}

/* MATRIZ DE 3 COLUMNAS (ESCRITORIO) */
.contenedor {
  display: grid;
  grid-template-areas: 'caja1 caja2 caja3'
                        'caja1 caja4 caja5'
                        'caja1 caja6 caja7'
                        'caja8 caja9 caja9'
                        'caja8 caja9 caja9';
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 4fr 3fr 3fr;                   
  gap: 15px;
}



/*.caja:hover {
  transform: translateY(-5px);
  /*box-shadow: 0 0 15px rgba(0,0,0,0.1-0.3);
}*/

.caja {
  background-color: #fddef6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #1e293b;
  
}


.caja-1 { grid-area: caja1;}
.caja-2 { grid-area: caja2;}
.caja-3 { grid-area: caja3;}
.caja-4 { grid-area: caja4;}
.caja-5 { grid-area: caja5;}
.caja-6 { grid-area: caja6;}
.caja-7 { grid-area: caja7;}
.caja-8 { grid-area: caja8;}
.caja-9 { grid-area: caja9;}

.body-imagen {
  padding: 10px;
  max-width: 100%;
  height: auto;
  overflow: visible;
}

.body-imagen img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
  margin: 0 auto;
  object-fit: contain;
}

/*Estilo para crear efecto de aparicion en las cajas */

.animar-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.animar-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}
.btn-cv {
    display: inline-block;
    padding: 12px 20px;
    margin: 20px;

    background-color: #74038e;
    color: #ffffff;

    text-decoration: none;
    border-radius: 8px;

    font-weight: bold;

    transition: 
        background-color 0.3s ease,
        transform 0.3s ease;
}
.btn-cv:hover {
  background-color: #c830f6;
}

/*Responsive mobil*/


@media (max-width: 768px) {
  body {
        padding: 15px;
        align-items: stretch;
  }
  .contenedor {
      width: 100%;
      grid-template-areas:
            "caja1"
            "caja2"
            "caja3"
            "caja4"
            "caja5"
            "caja6"
            "caja7"
            "caja8"
            "caja9";

      grid-template-columns: 1fr;
      grid-template-rows: auto;

        gap: 15px;
  }
  
    .titulo-principal {
        font-size: 28px;
    }

    .subtitulo {
        font-size: 16px;
    }

    .menu {
        width: 100%;
        flex-direction: column;
        gap: 8px;
    }

    .menu-link {
        width: 100%;
        text-align: center;
    }
    .body-imagen img {
        max-width: 100%;
        height: auto;
    }
}
