

/*CONFIGURACIONES BASICAS*/


.formulario {
  max-width: 100%;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.titulo {
  grid-column: 1 / 3;
  text-align: center;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.campo label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #334155;
}

.campo input, .campo textarea {
  padding: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
  font-size: 0.95rem;
}

.campo textarea {
  height: 100px;
  resize: vertical;
}

.campo-completo {
  grid-column: 1 / 3;
}

button {
  grid-column: 1 / 3;
  padding: 12px;
  background-color: #74038e;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color:#c830f6;
}