* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


:root {
  --color-letras-header: #ffffff; 
}

body {
  background-color: #fe91ec;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.header {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  
}
.header-cajas { 
  background-color: #c830f6; 
  font-size: 20px;
  color: var(--color-letras-header);  

}

.body h2 {
  font-size: 1.0rem;
  color: #10b981;
}
.body small {
  color: #94a3b8;
  font-size: 0.7rem;
}

.titulo-principal {
  font-size: 50px;
  margin-bottom:10px;
  font-family:"Saira", sans-serif ;
}

.subtitulo {
  font-size: 30px;
  margin-bottom: 30px;
  color: #3e0244;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.menu-link {
  text-decoration: none;
  border-radius: 10px;
  padding: 8px 14px;
  color: var(--color-letras-header);
  background-color: #74038e;
  transition: background-color 0.3s ease;
  width: 200px;
  text-align: center;
}
.menu-link:hover {
  background-color: #c830f6;
}

/* MATRIZ DE 3 COLUMNAS (ESCRITORIO) */
.contenedor {
  display: grid;
  grid-template-areas: 'caja1 caja2 caja3'
                        'caja1 caja4 caja5'
                        'caja1 caja6 caja7'
                        'caja8 caja9 caja9'
                        'caja8 caja9 caja9';
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 4fr 3fr 3fr;                   
  gap: 15px;
}
.caja:hover {
  transform: translateY(-5px);
  /*box-shadow: 0 0 15px rgba(0,0,0,0.1-0.3);*/
}
.caja {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #1e293b;
  
}


.caja-1 { grid-area: caja1;}
.caja-2 { grid-area: caja2;}
.caja-3 { grid-area: caja3;}
.caja-4 { grid-area: caja4;}
.caja-5 { grid-area: caja5;}
.caja-6 { grid-area: caja6;}
.caja-7 { grid-area: caja7;}
.caja-8 { grid-area: caja8;}
.caja-9 { grid-area: caja9;}

.body-imagen {
  padding: 10px;
  max-width: 100%;
  overflow: visible;
}

.body-imagen img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
  margin: 0 auto;
  object-fit: contain;
}